﻿@model ProcessMonitor.Models.FullModel

@{
    ViewData["Title"] = "ProcessesMonitor";
}


<div class="processes-page">
    <div class="state-panel">
        <h1 class="display-4">State</h1>
        <div class="pair">
            <div class="left">CPU usage: </div>
            <div class="right" id="cpu">@(Model.State.CPUusage) %</div>
        </div> 
        <div class="pair">
            <div class="left">RAM usage: </div>
            <div class="right" id="ram">@(Model.State.RAMusage) %</div>
        </div> 
    </div>
    <div class="processes-panel">
        <h1 class="display-4">Processes</h1>
        <table id="processes-table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>PrivateMemorySize64</th>
                <th>WorkingSet64</th>
            </tr>
            @foreach (var item in Model.Processes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrivateMemorySize64)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkingSet64)
                    </td>
                </tr>
            }
        </table>
    </div>    
</div>


@section Styles {
    <link href="@Url.Content("~/css/processes.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="~/js/processes.js"></script>
}