﻿@{
    ViewData["Title"] = "Process Monitor Welcome Page";
}

<div >
   
<h1 id="process-monitor">Process monitor</h1>
<p>There is web tool for monitoring VM processes.</p>
<h2 id="web-pages">Web pages</h2>
<p>There are only two web pages
<a href="http://localhost:5000/">http://localhost:5000/</a> and <a href="http://localhost:5000/processes">http://localhost:5000/processes</a></p>
<p>On the <strong>Home page</strong> we can see instruction and description. On the <strong>Processes page</strong>  we can see current system state and all runned processed.</p>
<p>We will see notifiction, when CPU or RAM will greater than configured tresholds.</p>
<h2 id="api-endpoints">API endpoints</h2>
<p>This web app provide follow api endpoints:</p>
<p><a href="http://localhost:5000/processes/api">http://localhost:5000/processes/api</a>         - returns state and processes information</p>
<p><a href="http://localhost:5000/processes/api/polling">http://localhost:5000/processes/api/polling</a> - implement long polling mechanism for get notifications</p>
<p><a href="http://localhost:5000/callbacks/">http://localhost:5000/callbacks/</a>            - returns all registered callbacks</p>
<p><a href="http://localhost:5000/callbacks/id">http://localhost:5000/callbacks/id</a>          - returns registered callback by id</p>
<p><a href="http://localhost:5000/callbacks/register">http://localhost:5000/callbacks/register</a>    - register new callback</p>
<p><a href="http://localhost:5000/callbacks/%7Bid%7D/delete">http://localhost:5000/callbacks/{id}/delete</a> - delete registered callbacks by id</p>
<h3 id="callbacks-mechanism">Callbacks mechanism</h3>
<p>Client can register callback endpoint (http url), and app will send notifications to this endpoint via Http  (GET).</p>
<p>In current version all registered callback saved in json file.</p>
<h2 id="architecture">Architecture</h2>
<p>There is classic ASP.NET Core MVC web application.</p>
<pre class="hljs"><code><div>├── appsettings.json    //application configuration
├── Configurations      //configuration models
│   ├── AppSettings.cs  
│   ├── CallbacksStorageConfiguration.cs
│   └── MonitorConfiguration.cs
├── Controllers         //MVC controllers
│   ├── CallbacksController.cs  //Callbacks mechanism
│   ├── HomeController.cs       //Home page
│   └── ProcessesController.cs  //Processes (main) controller
├── core
│   ├── CallbacksStorageService.cs  // Simple implementation for ICallbacksStorageService. All callbacks will saved in file in json format
│   ├── ICallbacksStorageService.cs // Interface for CallbackStorages. Provide method for store callback endpoints.
│   ├── IMonitorService.cs  //Default IMonitorService implementation
│   ├── MonitorService.cs   //Interface for MonitorServices. Provide methods for get current VM state and processes. Call &quot;CallbackCall&quot; event, when any alarm happend
│   └── ShellHelper.cs      //Class for call system shell
├── Models
│   ├── CallbackModel.cs
│   ├── ErrorViewModel.cs
│   ├── FullModel.cs
│   ├── MessageModel.cs
│   ├── ProcessModel.cs
│   └── StateModel.cs
├── process_monitor.csproj
├── Program.cs
├── Properties
│   └── launchSettings.json
├── README.md
├── Startup.cs
├── Views
│   ├── Home
│   │   └── Index.cshtml
│   ├── Processes
│   │   └── Index.cshtml
│   ├── Shared
│   │   ├── Error.cshtml
│   │   ├── _Layout.cshtml
│   │   └── _ValidationScriptsPartial.cshtml
│   ├── _ViewImports.cshtml
│   └── _ViewStart.cshtml
└── wwwroot
    ├── css
    │   ├── processes.css   //Processes page styles
    │   └── site.css
    ├── favicon.ico
    └── js
        ├── processes.js    //Processes page script
        └── site.js

</div></code></pre>
<h2 id="what-could-do-in-future">What could do in future</h2>
<ul>
<li>save registered callbacks to db (e.g. Sqlite or Mongo). It could realized if develop new implementation for ICallbacksStorageService.</li>
<li>use Vue.js or React for FrontEnd instead of jQuery (for more extendable logic)</li>
<li>beautify pages for more pretty view</li>
<li>implement access control</li>
<li>use websockets instead of longPolling</li>
<li>extend ProcessModel for provide mor information about processes</li>
<li>extend StateModel for provide more information about VM state</li>
<li>implement sort in processes table (e.g. by id, name, CPU or RAM usage)</li>
</ul>

</div>

@section Styles {
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}