.pair {
    display: block;
    position: relative;
}

.pair>.left, .pair>.right {
    display: inline-block;
}

.pair>.right {
    font-weight: bold;
}

.specified-cell, .processes-panel>table>tbody>tr>td:nth-child(2) {
    display: block;
    width: 800px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
